customtkinter>=5.2.2
Pillow>=11.1.0
svglib>=1.5.1
reportlab>=4.3.1
CairoSVG>=2.7.1
opencv-python>=4.11.0.86
requests>=2.32.3
google-genai>=1.25.0
openai>=1.0.0
portalocker>=3.1.1
Flask-SQLAlchemy>=3.0.0
gradio>=4.0.0